**/*.log
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.idea/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile*
**/Thumbs.db
**/.cache/
**/.gradle/
**/node_modules/
**/vendor/
**/dist/

/html
/insights
wiki.zip
bin/sql/wiki_prod-20201027.sql
backup
.git
.github
