COMPOSE_PROJECT_NAME=tripleperformance

ENV=dev
DEBUG=true
DOMAIN_NAME=wiki.vcap.me

MYSQL_HOST=db
MYSQL_USER=wiki
MYSQL_PASSWORD=wiki

MYSQL_DB=wiki
MYSQL_DB_PREFIX=
# Uncomment in order to use a prod DB
#MYSQL_DB=wiki_prod
#MYSQL_DB_PREFIX=hpwiki_

SECRET_KEY=***REMOVED***
UPGRADE_KEY=079c66c11c07baba
ELASTICSEARCH_SERVER="elastic:***REMOVED***@elasticsearch"

INSIGHT_URL=https://insights.vcap.me

MSMTP_SECRET=
