version: '3.7'

services:
  traefik:
    image: traefik:1.7-alpine
    ports:
      - '80:80'
      - '443:443'
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=9000'
      - 'traefik.frontend.rule=Host:traefik.dev.tripleperformance.fr'
    networks:
      - default
      - traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./engine/traefik/dev/traefik.toml:/etc/traefik/traefik.toml
      - ./.cache/ssl:/etc/ssl:ro

  web:
    build:
      context: .
      dockerfile: engine/php_server/Dockerfile
      target: base
      args:
        - DEBUG_TOOLS=true
    env_file: .env
    volumes:
      - ./:/var/www
      - /home/bertrand/tripleperformance/html/images/a:/var/www/html/images/a
      - /home/bertrand/tripleperformance/html/images/b:/var/www/html/images/b
      - /home/bertrand/tripleperformance/html/images/c:/var/www/html/images/c
      - /home/bertrand/tripleperformance/html/images/d:/var/www/html/images/d
      - /home/bertrand/tripleperformance/html/images/e:/var/www/html/images/e
      - /home/bertrand/tripleperformance/html/images/f:/var/www/html/images/f
      - /home/bertrand/tripleperformance/html/images/0:/var/www/html/images/0
      - /home/bertrand/tripleperformance/html/images/1:/var/www/html/images/1
      - /home/bertrand/tripleperformance/html/images/2:/var/www/html/images/2
      - /home/bertrand/tripleperformance/html/images/3:/var/www/html/images/3
      - /home/bertrand/tripleperformance/html/images/4:/var/www/html/images/4
      - /home/bertrand/tripleperformance/html/images/5:/var/www/html/images/5
      - /home/bertrand/tripleperformance/html/images/6:/var/www/html/images/6
      - /home/bertrand/tripleperformance/html/images/7:/var/www/html/images/7
      - /home/bertrand/tripleperformance/html/images/8:/var/www/html/images/8
      - /home/bertrand/tripleperformance/html/images/9:/var/www/html/images/9
      - /home/bertrand/tripleperformance/html/images/thumb:/var/www/html/images/thumb
      - /home/bertrand/tripleperformance/html/images/deleted:/var/www/html/images/deleted
      - /home/bertrand/tripleperformance/html/images/archive:/var/www/html/images/archive
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:wiki.dev.tripleperformance.fr, 3perf.fr'
    networks:
      default:
        aliases:
          - wiki.dev.tripleperformance.fr
      # Add the traefik network. This is so that discourse can access this container using the backend. We do
      # that only on dev, because the host is not a real IP. On production we can use the public DNS resolution
      # and go directly through the front end.
      traefik:
        aliases:
          - wiki.dev.tripleperformance.fr

  insights_php:
    build:
      context: insights
      dockerfile: dockerfiles/php/Dockerfile
      target: base
      args:
        - DEBUG_TOOLS=true
    networks:
      - default
      - traefik
    volumes:
      - ./insights:/var/www/html
      - ./.cache/composer:/.composer

  insights:
    image: nginx:1.22
    volumes:
      - ./insights:/var/www/html
      - ./insights/dockerfiles/php/cnpg.conf:/etc/nginx/conf.d/default.conf
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:insights.dev.tripleperformance.fr'
    networks:
      default:
        aliases:
          - insights.dev.tripleperformance.fr

  db:
    image: mysql:5.7
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      - MYSQL_USERNAME=root
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=wiki
      - MYSQL_USER=wiki
      - MYSQL_PASSWORD=wiki
    volumes:
      - data-mysql:/var/lib/mysql
      - ./bin/sql:/var/sql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:phpmyadmin.dev.tripleperformance.fr'

  redis:
    image: redis

  elasticsearch:
    image: elasticsearch:6.8.23
    environment:
      discovery.type: single-node
      xpack.security.enabled: "true"
      http.cors.enabled: "true"
      http.cors.allow-origin: "https://elasticvue.dev.tripleperformance.fr"
      http.cors.allow-headers: X-Requested-With,Content-Type,Content-Length,Authorization
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data01:/usr/share/elasticsearch/data
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=9200'
      - 'traefik.frontend.rule=Host:elasticsearch.dev.tripleperformance.fr'

  elasticvue:
    image: cars10/elasticvue
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=8080'
      - 'traefik.frontend.rule=Host:elasticvue.dev.tripleperformance.fr'

  parsoid:
    image: thenets/parsoid:0.11
    environment:
      PARSOID_DOMAIN_dev: http://wiki.dev.tripleperformance.fr/api.php
    links:
      - web:wiki.dev.tripleperformance.fr
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=8000'
      - 'traefik.frontend.rule=Host:parsoid.dev.tripleperformance.fr'

  wordpress:
    image: wordpress
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpressuser
      WORDPRESS_DB_PASSWORD: examplepass
      WORDPRESS_DB_NAME: wordpress
    restart: unless-stopped
    volumes:
      - ./wordpress:/var/www/html
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:wordpress.dev.tripleperformance.fr'

  piwigo:
    image: lscr.io/linuxserver/piwigo:latest
    container_name: piwigo
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./piwigo/config:/config
      - ./piwigo/gallery:/gallery
    restart: unless-stopped
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:photos.dev.tripleperformance.fr'
    networks:
      default:
        aliases:
          - photos.dev.tripleperformance.fr

networks:
  default: ~
  traefik:
    name: tripleperformance_traefik

volumes:
  data-mysql:
    driver: local
  data01:
    driver: local
