version: '3.7'

services:
  web_preprod:
    image: ghcr.io/neayi/tripleperformance/wiki:$WIKI_VERSION_PREPROD
    restart: always
    env_file: .env.preprod
    volumes:
      - ./.data/images_preprod:/var/www/html/images
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:wiki.preprod.tripleperformance.fr, de.preprod.tripleperformance.ag, en.preprod.tripleperformance.ag, es.preprod.tripleperformance.ag, fr.preprod.tripleperformance.ag, it.preprod.tripleperformance.ag, nl.preprod.tripleperformance.ag, pl.preprod.tripleperformance.ag'
    networks:
      default:
        aliases:
          - wiki.preprod.tripleperformance.fr
          - de.preprod.tripleperformance.ag
          - en.preprod.tripleperformance.ag
          - es.preprod.tripleperformance.ag
          - fr.preprod.tripleperformance.ag
          - it.preprod.tripleperformance.ag
          - nl.preprod.tripleperformance.ag
          - pl.preprod.tripleperformance.ag
    deploy:
      resources:
        limits:
          cpus: '0.50'

  insights_preprod:
    image: ghcr.io/neayi/insights/insights:$INSIGHTS_VERSION_PREPROD
    restart: always
    env_file: insights/.env.preprod
    volumes:
      - ./.data/insights_preprod_storage:/var/www/html/storage/app/public
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:insights.preprod.tripleperformance.fr'
