version: '3.7'

services:
  traefik:
    image: traefik:1.7-alpine
    restart: always
    ports:
      - '80:80'
      - '443:443'
    networks:
      - default
      - traefik
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=9000'
      - 'traefik.frontend.rule=Host:traefik.tripleperformance.fr'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./engine/traefik/traefik-prod.toml:/etc/traefik/traefik.toml
      - ./.data/acme.json:/etc/traefik/acme.json

  web:
    image: ghcr.io/neayi/tripleperformance/wiki:$WIKI_VERSION_PROD
    ## Uncomment in order to build the image on the current host
    #build:
    #  context: .
    #  dockerfile: engine/php_server/Dockerfile
    #  target: prod_sources
    #  args:
    #    - MSMTP_SECRET=$MSMTP_SECRET
    restart: always
    env_file: .env
    volumes:
      - ./.data/images:/var/www/html/images
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:wiki.tripleperformance.fr, tripleperformance.fr, pratiques.tripleperformance.fr, www.tripleperformance.fr, 3perf.fr, de.tripleperformance.ag, en.tripleperformance.ag, es.tripleperformance.ag, fr.tripleperformance.ag, it.tripleperformance.ag, nl.tripleperformance.ag, pl.tripleperformance.ag'
      - 'traefik.frontend.redirect.regex=^https?://(pratiques.)?tripleperformance.fr/(.*)'
      - 'traefik.frontend.redirect.replacement=https://wiki.tripleperformance.fr/$${2}'
      - 'traefik.frontend.redirect.permanent=true'
    networks:
      default:
        aliases:
          - wiki.tripleperformance.fr
          - de.tripleperformance.ag
          - en.tripleperformance.ag
          - es.tripleperformance.ag
          - fr.tripleperformance.ag
          - it.tripleperformance.ag
          - nl.tripleperformance.ag
          - pl.tripleperformance.ag

  insights:
    image: ghcr.io/neayi/insights/insights:$INSIGHTS_VERSION_PROD
    env_file: insights/.env
    ## Uncomment in order to build the image on the current host
    #build:
    #  context: insights
    #  dockerfile: dockerfiles/php/Dockerfile
    #  target: prod_sources
    restart: always
    networks:
      - default
      - traefik
    volumes:
      - ./.data/insights_prod_storage:/var/www/html/storage/app/public
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:insights.tripleperformance.fr'

  db:
    image: mysql:5.7
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
    env_file: .env
    volumes:
      - ./.data/mysql:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:phpmyadmin.tripleperformance.fr'

  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    restart: always
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=9000'
      - 'traefik.frontend.rule=Host:portainer.dev.tripleperformance.fr'
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock

  redis:
    image: redis
    restart: always

  elasticsearch:
    image: elasticsearch:6.8.23
    restart: always
    environment:
      discovery.type: single-node
      xpack.security.enabled: "true"
      http.cors.enabled: "true"
      http.cors.allow-origin: "https://elasticvue.tripleperformance.fr"
      http.cors.allow-headers: X-Requested-With,Content-Type,Content-Length,Authorization
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./.data/elasticsearch:/usr/share/elasticsearch/data
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=9200'
      - 'traefik.frontend.rule=Host:elasticsearch.tripleperformance.fr'

  elasticvue:
    image: cars10/elasticvue
    restart: always
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=8080'
      - 'traefik.frontend.rule=Host:elasticvue.tripleperformance.fr'

  piwigo:
    image: lscr.io/linuxserver/piwigo:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./piwigo/config:/config
      - ./piwigo/gallery:/gallery
    restart: always
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:photos.tripleperformance.fr'

networks:
  default: ~
  traefik:
    name: tripleperformance_traefik
