#services:
#  db:
#    ports:
#      - "3306:3306"
#
#  phpmyadmin:
#    ports:
#      - "8181:80"
#
#  elasticsearch:
#    ports:
#      - "9200:9200"
#      - "9300:9300"
#
#  elasticvue:
#    ports:
#      - "8085:8080"
#
#  parsoid:
#    ports:
#      - "8080:8000"
#
#  # Uncomment if the container cannot connect to the host when using xdebug
#  web:
#    extra_hosts:
#      - 'host.docker.internal:host-gateway'
