version: '3.7'

services:
  traefik:
    image: traefik:1.7-alpine
    ports:
      - '80:80'
      - '443:443'
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=9000'
      - 'traefik.frontend.rule=Host:traefik.dev.tripleperformance.fr'
    networks:
      - default
      - traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./engine/traefik/dev/traefik.toml:/etc/traefik/traefik.toml
      - ./.cache/ssl:/etc/ssl:ro

  web:
    build:
      context: .
      dockerfile: engine/php_server/Dockerfile
      target: base
      args:
        - DEBUG_TOOLS=true
    env_file: .env
    volumes:
      - ./:/var/www/
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:wiki.dev.tripleperformance.fr'
    networks:
      default:
        aliases:
          - wiki.dev.tripleperformance.fr
      # Add the traefik network. This is so that discourse can access this container using the backend. We do
      # that only on dev, because the host is not a real IP. On production we can use the public DNS resolution
      # and go directly through the front end.
      traefik:
        aliases:
          - wiki.dev.tripleperformance.fr

  insights_php:
    build:
      context: insights
      dockerfile: dockerfiles/php/Dockerfile
      target: base
    networks:
      - default
      - traefik
    volumes:
      - ./insights:/var/www/html
      - ./.cache/composer:/.composer

  insights:
    image: nginx:1.15.8
    volumes:
      - ./insights:/var/www/html
      - ./insights/dockerfiles/php/cnpg.conf:/etc/nginx/conf.d/default.conf
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:insights.dev.tripleperformance.fr'
    networks:
      default:
        aliases:
          - insights.dev.tripleperformance.fr

  db:
    image: mysql:5.7
    environment:
      - MYSQL_USERNAME=root
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=wiki
      - MYSQL_USER=wiki
      - MYSQL_PASSWORD=wiki
    volumes:
      - data-mysql:/var/lib/mysql
      - ./bin/sql:/var/sql/

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=80'
      - 'traefik.frontend.rule=Host:phpmyadmin.dev.tripleperformance.fr'

  redis:
    image: redis

  elasticsearch:
    image: elasticsearch:6.8.6
    environment:
      discovery.type: single-node
      xpack.security.enabled: "true"
      http.cors.enabled: "true"
      http.cors.allow-origin: "http://localhost:8080"
      http.cors.allow-headers: X-Requested-With,Content-Type,Content-Length,Authorization
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data01:/usr/share/elasticsearch/data

  elasticvue:
    image: cars10/elasticvue
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=8080'
      - 'traefik.frontend.rule=Host:elasticvue.dev.tripleperformance.fr'

  parsoid:
    image: thenets/parsoid:0.11
    environment:
      PARSOID_DOMAIN_dev: http://wiki.dev.tripleperformance.fr/api.php
    links:
      - web:wiki.dev.tripleperformance.fr
    labels:
      - 'traefik.enable=true'
      - 'traefik.port=8000'
      - 'traefik.frontend.rule=Host:parsoid.dev.tripleperformance.fr'

networks:
  default: ~
  traefik:
    name: tripleperformance_traefik

volumes:
  data-mysql:
    driver: local
  data01:
    driver: local
