[ req ]
prompt             = no
string_mask        = default
default_bits       = 2048
distinguished_name = req_distinguished_name
x509_extensions    = x509_ext

[ req_distinguished_name ]
countryName = fr
organizationName = TriplePerformance
commonName = Certificat Applications TriplePerformance

[ x509_ext ]
keyUsage=critical,digitalSignature,keyAgreement,keyCertSign,cRLSign
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = traefik.dev.tripleperformance.fr
DNS.2 = wiki.dev.tripleperformance.fr
DNS.3 = insights.dev.tripleperformance.fr
DNS.4 = forum.dev.tripleperformance.fr
DNS.5 = adminer.dev.tripleperformance.fr
DNS.6 = elasticvue.dev.tripleperformance.fr
DNS.7 = elasticsearch.dev.tripleperformance.fr
DNS.8 = phpmyadmin.dev.tripleperformance.fr
DNS.9 = portainer.dev.tripleperformance.fr
DNS.10 = wordpress.dev.tripleperformance.fr
DNS.11 = photos.dev.tripleperformance.fr
DNS.12 = de.dev.tripleperformance.ag
DNS.13 = en.dev.tripleperformance.ag
DNS.14 = es.dev.tripleperformance.ag
DNS.15 = fr.dev.tripleperformance.ag
DNS.16 = it.dev.tripleperformance.ag
DNS.17 = nl.dev.tripleperformance.ag
DNS.18 = pl.dev.tripleperformance.ag
DNS.19 = forum.de.dev.tripleperformance.ag
DNS.20 = forum.en.dev.tripleperformance.ag
DNS.21 = forum.es.dev.tripleperformance.ag
DNS.22 = forum.fr.dev.tripleperformance.ag
DNS.23 = forum.it.dev.tripleperformance.ag
DNS.24 = forum.nl.dev.tripleperformance.ag
DNS.25 = forum.pl.dev.tripleperformance.ag
