name: build

on:
    release:
        types: [published]

env:
    IMAGE_NAME: wiki
    DOCKERFILE: engine/php_server/Dockerfile
    CI: true
    REGISTRY: ghcr.io

permissions:
    contents: read
    packages: write

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4

            -   name: Define variables
                id: vars
                run: |
                    echo "CI_COMMIT_REF_SLUG=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
                    echo "CI_REGISTRY_IMAGE=${{ env.REGISTRY }}/${{ github.repository }}/$IMAGE_NAME" >> $GITHUB_OUTPUT

            -   name: Log into registry
                uses: docker/login-action@v3
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Pull existing Docker image
                run: |
                    docker pull ${CI_REGISTRY_IMAGE}:master || true
                env:
                    CI_REGISTRY_IMAGE: ${{ steps.vars.outputs.CI_REGISTRY_IMAGE }}

            -   name: Build image
                run: docker build --pull -t ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG} --cache-from ${CI_REGISTRY_IMAGE}:master -f ${DOCKERFILE} .
                env:
                    CI_COMMIT_REF_SLUG: ${{ steps.vars.outputs.CI_COMMIT_REF_SLUG }}
                    CI_REGISTRY_IMAGE: ${{ steps.vars.outputs.CI_REGISTRY_IMAGE }}

            -   name: Push the latest Docker image
                run: |
                    docker push ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}
                env:
                    CI_COMMIT_REF_SLUG: ${{ steps.vars.outputs.CI_COMMIT_REF_SLUG }}
                    CI_REGISTRY_IMAGE: ${{ steps.vars.outputs.CI_REGISTRY_IMAGE }}
